.scrollContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
}

.scrollContent {
  display: flex;
  animation: scroll 45s linear infinite; /* Increased duration to 60s for slower animation */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Start from the beginning */
  }
  100% {
    transform: translateX(-100%); /* Move to the left by 100% of the content width */
  }
}

.scrollItem {
  flex: 0 0 auto;
  margin-right: 16px;
  white-space: nowrap;
}

/* Pause animation on hover */
.scrollContainer:hover .scrollContent {
  animation-play-state: paused;
}