.scrollContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
}

.scrollContent {
  display: inline-flex;
  width: 90%;
  max-width: 99vw;
  animation: scroll 60s linear infinite;
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
   100% {
    transform: translateX(-50%);
  }
}

.scrollItem {
  flex: 0 0 auto;
  margin-right: 16px;
  white-space: nowrap;
}

/* Pause animation on hover */
.scrollContainer:hover .scrollContent {
  animation-play-state: paused;
}

